[Unit]
Description=wwt-villa
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python /home/pi/wwt-villa/ws.py & > /home/pi/myscript.log 2>&1

[Install]
WantedBy=multi-user.target